/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at https://mozilla.org/MPL/2.0/.
 *
 * Copyright Oxide Computer Company
 */

/*
Set the default cursor for buttons.
*/

button,
[role='button'] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

@theme {
  --color-*: initial; /* disable default colors */
  --radius-*: initial; /* disable default rounded */

  --breakpoint-300: 300px;
  --breakpoint-400: 400px;
  --breakpoint-500: 500px;
  --breakpoint-600: 600px;
  --breakpoint-700: 700px;
  --breakpoint-800: 800px;
  --breakpoint-900: 900px;
  --breakpoint-1000: 1000px;
  --breakpoint-1100: 1100px;
  --breakpoint-1200: 1200px;
  --breakpoint-1300: 1300px;
  --breakpoint-1400: 1400px;
  --breakpoint-1600: 1600px;
}
