/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at https://mozilla.org/MPL/2.0/.
 *
 * Copyright Oxide Computer Company
 */

@layer components {
  .asciidoc-body .line-through {
    text-decoration: line-through;
  }

  .asciidoc-body .quoteblock {
    @apply mb-8 mt-8 border-l pl-[1.6rem] text-tertiary border-default;
  }

  .asciidoc-body .quoteblock p {
    @apply text-tertiary;
  }

  .asciidoc-body .quoteblock .attribution {
    @apply mt-8 text-default;
  }

  .asciidoc-body .admonitionblock .quoteblock {
    @apply mb-2 mt-2 pl-[0.75rem] border-success-secondary;
  }

  .asciidoc-body .admonitionblock p,
  .asciidoc-body .admonitionblock blockquote {
    @apply text-success;
  }

  .asciidoc-body .admonition-content .paragraph {
    @apply mb-1 last:mb-0;
  }

  .asciidoc-body .admonition-content > div:first-of-type {
    @apply normal-case text-sans-semi-md;
  }

  .asciidoc-body .imageblock img {
    @apply mx-auto h-auto w-auto w-full rounded-lg border border-tertiary object-contain;
    max-height: max(500px, 75vh);
  }

  .asciidoc-body span img {
    @apply inline;
  }

  .asciidoc-body img.transparent-dark {
    @apply bg-secondary;
  }

  .asciidoc-body p a {
    @apply text-accent-secondary hover:text-accent;
    overflow-wrap: break-word;
    word-wrap: break-word;

    text-decoration: underline;
    text-decoration-color: rgba(var(--content-accent-tertiary-rgb), 0.8);
  }

  /* Use semi-bold for strong */
  .asciidoc-body strong {
    @apply font-[500] text-default;
  }

  .asciidoc-body a strong {
    @apply text-accent-secondary;
  }

  .asciidoc-body h2,
  .asciidoc-body h3,
  .asciidoc-body h4,
  .asciidoc-body h5 {
    @apply relative mb-3 mt-10 text-default;
  }

  /* Removes top spacing from header if it is the first element */
  .asciidoc-body#content > .sect1:first-of-type > h1:nth-child(1),
  .asciidoc-body#content > .sect1:first-of-type > h2:nth-child(1),
  .asciidoc-body#content > .sect1:first-of-type > h3:nth-child(1),
  .asciidoc-body#content > .sect1:first-of-type > h4:nth-child(1),
  .asciidoc-body#content > .sect1:first-of-type > h5:nth-child(1) {
    @apply mt-0;
  }

  .asciidoc-body h1 a,
  .asciidoc-body h2 a,
  .asciidoc-body h3 a,
  .asciidoc-body h4 a,
  .asciidoc-body h5 a {
    @apply flex items-center text-default;
  }

  .asciidoc-body h1[data-sectnum]:before,
  .asciidoc-body h2[data-sectnum]:before,
  .asciidoc-body h3[data-sectnum]:before,
  .asciidoc-body h4[data-sectnum]:before,
  .asciidoc-body h5[data-sectnum]:before {
    @apply bottom-0 mr-2 inline-block text-quaternary 800:absolute 800:-left-[72px] 800:mr-0 800:w-[60px] 800:text-right 800:text-sans-lg;
  }

  .asciidoc-body h3[data-sectnum]:before,
  .asciidoc-body h2[data-sectnum]:before {
    @apply 800:bottom-[2px];
  }

  .asciidoc-body h2 {
    @apply text-sans-2xl;
  }

  .asciidoc-body h3 {
    @apply text-sans-xl;
  }

  .asciidoc-body h4,
  .asciidoc-body h5 {
    @apply mb-2 mt-8 text-sans-lg text-default;
  }

  .asciidoc-body .anchor {
    position: absolute;
    margin-top: calc(var(--header-height) * -1 - 20px);
    visibility: hidden;
    user-select: none;
  }

  .asciidoc-body .dlist dt {
    @apply text-sans-lg text-default;
  }

  .asciidoc-body .dlist dt:after {
    content: ':';
    @apply text-sans-lg text-quaternary;
  }

  .asciidoc-body {
    @apply text-sans-lg;
  }

  /* Fix overflow text in mermaid */
  .asciidoc-body figure svg {
    line-height: 1 !important;
  }

  .asciidoc-body p {
    @apply mb-[1.25rem] !leading-[1.5] text-sans-lg 800:mb-4;
  }

  .asciidoc-body ul li,
  .asciidoc-body ol li {
    @apply mt-[0.5rem];
  }

  .asciidoc-body ul,
  .asciidoc-body ol {
    @apply mb-4 list-disc text-mono-sm text-tertiary;
  }

  .asciidoc-body ul p,
  .asciidoc-body ol p {
    @apply normal-case;
  }

  .asciidoc-body ul ul,
  .asciidoc-body ul ol,
  .asciidoc-body ol ol,
  .asciidoc-body ol ul {
    @apply mb-0;
  }

  .asciidoc-body ul ul li {
    list-style-type: circle;
  }

  .asciidoc-body ul ul ul li {
    list-style-type: square;
  }

  .asciidoc-body ul ul ul ul li {
    list-style-type: disc;
  }

  .asciidoc-body ul {
    @apply list-disc;
  }

  .asciidoc-body ol {
    @apply list-decimal;
  }

  .asciidoc-body ul,
  .asciidoc-body ol {
    @apply list-inside 800:list-outside;
  }

  .asciidoc-body ul:first-of-type,
  .github-markdown > ul {
    @apply 800:ml-4;
  }

  .asciidoc-body ol:first-of-type,
  .github-markdown > ol {
    @apply 800:ml-6;
  }

  .asciidoc-body .tableblock ul,
  .asciidoc-body .tableblock ol {
    @apply list-inside;
  }

  .asciidoc-body .quoteblock ul,
  .asciidoc-body .quoteblock ol {
    @apply list-inside;
  }

  .asciidoc-body .ulist .ulist,
  .asciidoc-body .ulist .olist,
  .asciidoc-body .olist .ulist,
  .asciidoc-body .olist .olist {
    @apply ml-[2rem] 800:ml-2;
  }

  .asciidoc-body .exampleblock ul,
  .asciidoc-body .exampleblock ol {
    @apply list-inside;
  }

  .asciidoc-body ul p,
  .asciidoc-body ol p {
    @apply inline;
  }

  .asciidoc-body p {
    @apply text-secondary;
  }

  .asciidoc-body .arabic {
    list-style-type: decimal;
  }

  .asciidoc-body .loweralpha {
    list-style-type: lower-alpha;
  }

  .asciidoc-body .lowerroman {
    list-style-type: lower-roman;
  }

  .asciidoc-body .upperalpha {
    list-style-type: upper-alpha;
  }

  .asciidoc-body .upperroman {
    list-style-type: upper-roman;
  }

  .asciidoc-body ol p {
    @apply normal-case text-secondary;
  }

  .text-mono-code {
    @apply !text-[0.825em] !normal-case;
    font-feature-settings: 'calt' 0;
    letter-spacing: 0;
  }

  .asciidoc-body p code,
  .asciidoc-body h1 code,
  .asciidoc-body h2 code,
  .asciidoc-body h3 code,
  .asciidoc-body h4 code,
  .asciidoc-body h5 code,
  .asciidoc-body table code {
    @apply text-secondary;
    @apply ml-[1px] mr-[1px] rounded border px-[4px] py-[1px] align-[1px] bg-raise border-secondary;
  }

  .asciidoc-body p a code {
    @apply text-accent-secondary;
  }

  .asciidoc-body table p code {
    @apply break-normal;
  }

  .asciidoc-body .admonitionblock p code {
    @apply border-none text-inverse bg-success;
  }

  .asciidoc-body pre {
    @apply rounded-lg border px-[1.25rem] py-[1rem] border-secondary 800:px-[1.75rem] 800:py-[1.5rem];
    @apply overflow-x-auto !text-[13px] text-mono-code;
  }

  .asciidoc-body h1 code,
  .asciidoc-body h2 code,
  .asciidoc-body h3 code,
  .asciidoc-body h4 code,
  .asciidoc-body h5 code {
    @apply text-[0.825em];
  }

  .asciidoc-body .paragraph > code,
  .asciidoc-body p code {
    @apply text-[0.825rem];
  }

  .asciidoc-body code {
    font-feature-settings: 'calt' 0;
  }

  .asciidoc-body pre {
    @apply flex items-center;
  }

  .asciidoc-body .listingblock .content {
    @apply relative;
  }

  .asciidoc-body .listingblock pre:not(.highlight) {
    @apply text-secondary;
  }

  .asciidoc-body .listingblock code[data-lang]:before {
    @apply absolute right-2 top-2 block text-mono-xs text-tertiary;
    content: attr(data-lang);
  }

  .asciidoc-body pre .conum[data-value] {
    @apply relative -top-[0.125rem] inline-block h-[1rem] min-w-[1rem] rounded-full text-center not-italic text-mono-xs text-tertiary bg-raise;
  }

  .asciidoc-body pre .conum[data-value]:after {
    @apply pl-[1px];
    content: attr(data-value);
  }

  .asciidoc-body pre .conum[data-value] + b {
    @apply hidden;
  }

  .asciidoc-body .exampleblock {
    @apply overflow-x-auto rounded-lg px-[1.5rem] py-[1.25rem] bg-raise;
  }

  .asciidoc-body .exampleblock p {
    @apply mb-2 text-sans-md;
  }

  .asciidoc-body .exampleblock .content,
  .asciidoc-body .exampleblock .paragraph:last-of-type p {
    @apply m-0;
  }

  .exampleblock > .content {
    @apply my-[1rem];
  }

  .asciidoc-body .admonitionblock {
    @apply rounded-lg border text-success bg-success-secondary border-success-tertiary;
    @apply my-[1.5rem] flex px-3 py-3;
  }

  .asciidoc-body .admonitionblock strong {
    @apply text-success;
  }

  .asciidoc-body .admonitionblock.caution strong,
  .asciidoc-body .admonitionblock.important strong {
    @apply text-notice;
  }

  .asciidoc-body .admonitionblock.caution .quoteblock {
    @apply border-notice-secondary;
  }

  .asciidoc-body .admonitionblock.warning .quoteblock {
    @apply border-destructive-secondary;
  }

  .asciidoc-body .admonitionblock.tip .quoteblock {
    border-color: var(--base-purple-500);
  }

  .asciidoc-body .admonitionblock.warning strong {
    @apply text-destructive;
  }

  .asciidoc-body .admonitionblock.tip strong {
    color: var(--base-purple-800);
  }

  .asciidoc-body .admonitionblock.tip,
  .asciidoc-body .admonitionblock.tip blockquote {
    background-color: var(--base-purple-200);
    color: var(--base-purple-800);
    border-color: var(--base-purple-400);
    text-decoration-color: var(--base-purple-500);
  }

  .asciidoc-body .admonitionblock.caution,
  .asciidoc-body .admonitionblock.important,
  .asciidoc-body .admonitionblock.caution blockquote,
  .asciidoc-body .admonitionblock.important blockquote {
    @apply text-notice bg-notice-secondary border-notice-tertiary;
  }

  .asciidoc-body .admonitionblock.warning,
  .asciidoc-body .admonitionblock.warning blockquote {
    @apply text-destructive bg-destructive-secondary border-destructive-tertiary;
  }

  .asciidoc-body .admonitionblock.caution p,
  .asciidoc-body .admonitionblock.important p {
    @apply text-notice;
  }

  .asciidoc-body .admonitionblock.warning p {
    @apply text-destructive;
  }

  .asciidoc-body .admonitionblock.tip p {
    color: var(--base-purple-800);
    text-decoration-color: var(--base-purple-500);
  }

  .asciidoc-body .admonitionblock.caution p code,
  .asciidoc-body .admonitionblock.important p code {
    @apply bg-notice;
  }

  .asciidoc-body .admonitionblock.warning p code {
    @apply bg-error;
  }

  .asciidoc-body .admonitionblock.tip p code {
    background-color: var(--base-purple-800);
  }

  .asciidoc-body .admonitionblock a {
    @apply underline;
  }

  .asciidoc-body .admonitionblock a {
    @apply text-success;
  }

  .asciidoc-body .admonitionblock.caution a,
  .asciidoc-body .admonitionblock.important a {
    @apply text-notice;
  }

  .asciidoc-body .admonitionblock.warning a {
    @apply text-destructive;
  }

  .asciidoc-body .admonitionblock.tip a {
    color: var(--base-purple-800);
  }

  .asciidoc-body .admonition-icon svg {
    @apply mr-2 mt-0.5 h-3 w-3;
  }

  .asciidoc-body .admonition-content {
    @apply text-sans-md 800:mr-[1.25rem];
  }

  .asciidoc-body .admonition-content p {
    @apply mb-0 text-sans-md;
  }

  .asciidoc-body .imageblock,
  .asciidoc-body table.tableblock {
    @apply my-6;
  }

  .asciidoc-body .imageblock.inlineimage {
    @apply my-4;
  }

  .asciidoc-body table.tableblock table.tableblock {
    @apply my-2;
  }

  .asciidoc-body table.tableblock .imageblock {
    @apply my-0;
  }

  .asciidoc-body .imageblock .title {
    @apply mt-3 max-w-full text-center not-italic text-mono-xs text-tertiary;
  }

  .asciidoc-body img.wide {
    max-width: none;
    width: calc(100% / 8 * 10);
    margin-left: calc(100% / 8 * -1);
  }

  .asciidoc-body sup.footnote {
    @apply text-mono-xs text-tertiary;
  }

  .asciidoc-body sup.footnote a {
    padding-top: calc(var(--header-height) + 20px);
    margin-top: calc(var(--header-height) * -1 - 20px);
  }

  .asciidoc-body .imageblock,
  .asciidoc-body .literalblock,
  .asciidoc-body .listingblock,
  .asciidoc-body .stemblock,
  .asciidoc-body .videoblock,
  .asciidoc-body .exampleblock {
    @apply my-[2rem];
  }

  .asciidoc-body .title {
    @apply mb-2 max-w-[40rem] text-left italic text-sans-lg text-tertiary;
  }

  .asciidoc-body summary.title {
    @apply not-italic;
  }

  .asciidoc-body .conum {
    @apply inline-block;
  }

  .asciidoc-body .table-wrapper {
    @apply relative overflow-x-auto;
  }

  .asciidoc-body .table-wrapper caption {
    @apply sticky left-0;
  }

  .asciidoc-body table {
    @apply w-full border-separate overflow-hidden rounded-lg border p-0 border-secondary;
    border-spacing: 0;
  }

  .asciidoc-body .valign-middle {
    vertical-align: middle;
  }

  .asciidoc-body .halign-center {
    text-align: center;
  }

  .asciidoc-body table p {
    @apply text-left text-sans-md;
  }

  .asciidoc-body table td,
  .asciidoc-body table th {
    @apply border-b border-r px-[0.75rem] py-[0.625rem] align-top border-secondary;
  }

  .asciidoc-body table tr th:last-child {
    @apply border-r-0;
  }

  .asciidoc-body tbody tr:last-child td,
  .asciidoc-body tbody tr:last-child th {
    @apply border-b-0;
  }

  .asciidoc-body tbody tr td:last-child {
    @apply border-r-0;
  }

  .asciidoc-body table th {
    @apply text-left text-mono-xs text-tertiary bg-raise;
  }

  .asciidoc-body table th p {
    @apply text-mono-xs;
  }

  .asciidoc-body table td {
    @apply py-[0.75rem];
  }

  .asciidoc-body table pre {
    @apply border-0 p-0;
  }

  .asciidoc-body table p {
    @apply m-0 p-0;
  }

  .asciidoc-body .colist table {
    @apply mt-[1.5rem];
  }

  .asciidoc-body .colist table td {
    @apply text-sans-md;
  }

  .asciidoc-body .colist table tr td:first-of-type {
    @apply w-[1%] whitespace-nowrap text-quaternary;
  }

  .asciidoc-body .colist table b {
    @apply text-mono-sm;
  }

  .asciidoc-body div.bibliography ~ h2 {
    @apply mt-12 800:mt-16;
  }

  .asciidoc-body .bibliography ul,
  .asciidoc-body .bibliography ol {
    @apply space-y-2;
  }

  .asciidoc-body mark {
    @apply rounded px-[2px] text-notice bg-notice-secondary;
  }

  .asciidoc-body .steminline svg {
    @apply inline;
  }

  .asciidoc-body hr {
    @apply my-3 border-default;
  }

  .asciidoc-body .sidebarblock {
    @apply bg-raise p-4 rounded-lg my-8 px-6 py-5;
  }

  @media print {
    html {
      font-size: 14px !important;
    }

    a {
      color: inherit !important;
      text-decoration: underline;
    }

    a.bare,
    a[href^='#'],
    a[href^='mailto:'] {
      text-decoration: none;
    }

    tr,
    img,
    object,
    svg {
      break-inside: avoid;
    }

    thead {
      display: table-header-group;
    }

    pre {
      hyphens: none;
      white-space: pre-wrap;
    }

    h1 {
      font-size: 3rem !important;
      line-height: 1 !important;
    }

    #content {
      max-width: 80vw;
    }

    @page {
      margin-top: 2cm;
      margin-bottom: 2cm;
    }

    :root,
    .yellow-theme,
    .purple-theme,
    .green-theme,
    .blue-theme,
    .red-theme {
      --surface-default: white;
      --surface-default-p3: var(--surface-default);
      --content-default: black;
      --content-default-p3: var(--content-default);
      --content-secondary: rgb(0, 0, 0, 0.8);
      --content-secondary-p3: var(--content-secondary);
      --content-tertiary: var(--content-secondary);
      --content-tertiary-p3: var(--content-secondary);
      --surface-raise: rgb(0, 0, 0, 0.025);
      --surface-raise-p3: var(--surface-raise);
      --surface-inverse: var(--surface-raise);
      --surface-inverse-p3: var(--surface-raise);
      --stroke-default: var(--content-secondary);
      --stroke-default-p3: var(--content-secondary);
    }

    .asciidoc-body p a {
      text-decoration-color: black !important;
    }

    .asciidoc-body p {
      color: black !important;
    }

    .asciidoc-body .imageblock img {
      border: 0;
    }

    .asciidoc-body .admonitionblock {
      color: var(--content-default) !important;
      background-color: var(--surface-raise) !important;
    }

    pre code.hljs {
      display: block;
      overflow-x: auto;
      padding: 1em;
    }

    code.hljs {
      padding: 3px 5px;
    }

    .hljs {
      color: #333;
      background: #fff;
    }

    .hljs-comment,
    .hljs-quote {
      color: #777;
      font-style: italic;
    }

    .hljs-keyword,
    .hljs-selector-tag,
    .hljs-subst {
      color: #333;
      font-weight: 700;
    }

    .hljs-literal,
    .hljs-number {
      color: #777;
    }

    .hljs-doctag,
    .hljs-formula,
    .hljs-string {
      color: #333;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2O8e/fufwYGBgZBQUEQxcCIIfDu3Tuwivfv30NUoAsAALHpFMMLqZlPAAAAAElFTkSuQmCC)
        repeat;
    }

    .hljs-section,
    .hljs-selector-id,
    .hljs-title {
      color: #000;
      font-weight: 700;
    }

    .hljs-subst {
      font-weight: 400;
    }

    .hljs-class .hljs-title,
    .hljs-name,
    .hljs-title.class_,
    .hljs-type {
      color: #333;
      font-weight: 700;
    }

    .hljs-tag {
      color: #333;
    }

    .hljs-regexp {
      color: #333;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQAN37979r6yszIgujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQDexSef15DBCwAAAABJRU5ErkJggg==)
        repeat;
    }

    .hljs-bullet,
    .hljs-link,
    .hljs-symbol {
      color: #000;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAO7d+/+z4gsBhJwdXVlhAvCBECKwIIwAbhKZBUwBQA6hBpm5efZsgAAAABJRU5ErkJggg==)
        repeat;
    }

    .hljs-built_in {
      color: #000;
      text-decoration: underline;
    }

    .hljs-meta {
      color: #999;
      font-weight: 700;
    }

    .hljs-deletion {
      color: #fff;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAE0lEQVQIW2MMDQ39zzhz5kwIAQAyxweWgUHd1AAAAABJRU5ErkJggg==)
        repeat;
    }

    .hljs-addition {
      color: #000;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAALUlEQVQYV2N89+7dfwYk8P79ewZBQUFkIQZGOiu6e/cuiptQHAPl0NtNxAQBAM97Oejj3Dg7AAAAAElFTkSuQmCC)
        repeat;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }

  /* Boosting body text for long text readability */
  .asciidoc-body p {
    color: #c8cacb;
  }
}
