.blue-theme {
  --theme-accent-200: var(--color-blue-200);
  --theme-accent-300: var(--color-blue-300);
  --theme-accent-400: var(--color-blue-400);
  --theme-accent-500: var(--color-blue-500);
  --theme-accent-600: var(--color-blue-600);
  --theme-accent-700: var(--color-blue-700);
  --theme-accent-800: var(--color-blue-800);
  --theme-accent-900: var(--color-blue-900);
  --theme-accent-1000: var(--color-blue-1000);
  --theme-accent-1100: var(--color-blue-1100);
  --theme-accent-1200: var(--color-blue-1200);
  --theme-accent-1300: var(--color-blue-1300);
}
