.red-theme {
  --theme-accent-200: var(--color-red-200);
  --theme-accent-300: var(--color-red-300);
  --theme-accent-400: var(--color-red-400);
  --theme-accent-500: var(--color-red-500);
  --theme-accent-600: var(--color-red-600);
  --theme-accent-700: var(--color-red-700);
  --theme-accent-800: var(--color-red-800);
  --theme-accent-900: var(--color-red-900);
  --theme-accent-1000: var(--color-red-1000);
  --theme-accent-1100: var(--color-red-1100);
  --theme-accent-1200: var(--color-red-1200);
  --theme-accent-1300: var(--color-red-1300);
}
