.yellow-theme {
  --theme-accent-200: var(--color-yellow-200);
  --theme-accent-300: var(--color-yellow-300);
  --theme-accent-400: var(--color-yellow-400);
  --theme-accent-500: var(--color-yellow-500);
  --theme-accent-600: var(--color-yellow-600);
  --theme-accent-700: var(--color-yellow-700);
  --theme-accent-800: var(--color-yellow-800);
  --theme-accent-900: var(--color-yellow-900);
  --theme-accent-1000: var(--color-yellow-1000);
  --theme-accent-1100: var(--color-yellow-1100);
  --theme-accent-1200: var(--color-yellow-1200);
  --theme-accent-1300: var(--color-yellow-1300);
}
