name: Validate labels

on:
  pull_request_target:
    types: [labeled, unlabeled, opened, reopened, synchronize]

jobs:
  validate-labels:
    runs-on: ubuntu-latest
    if:
      "!contains(github.event.head_commit.message, 'ci skip') &&
      !contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - uses: actions/checkout@v2

      - name: Prepare repository
        run: git fetch --unshallow --tags

      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Verify Release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run:
          npx auto pr-check
          --url=https://github.com/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID
